body {
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.login-form, .signup-form {
    margin-top: 30px;
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);;
}

.new-post {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.new-post header,
.posts header {
    margin-bottom: 20px;
}

.posts .post {
    padding-left: 10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 30px;
    
}

.post_body {
    font-family: Verdana;
}

.posts .post .info {
    color: #aaa;
    font-style: italic;
    font-size: 12px;
}

.error,
.success {
    text-align: center;
}

.error {
    border: 1px solid red;
    background-color: #f9b5af;
    color: red;
}

.error ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.success {
    border: 1px solid green;
    background-color: #d1f9da;
    color: green;
}

.form-options {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
